<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Better Job</a>
  <button id="hamburger-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/">
          Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="/user/profile">
          Profile </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="{{(isUserLoggedIn() && isUserRecruiter()) ? '/recruiter/job' : '/user/search'}}">
          {{(isUserLoggedIn() && isUserRecruiter()) ? 'My job listings': 'Search job' }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="{{(isUserLoggedIn() && isUserRecruiter()) ? '/recruiter/job/new' : '/user/jobs'}}">
          {{(isUserLoggedIn() && isUserRecruiter()) ? 'Post new job': 'My jobs' }}
        </a>
      </li>
    </ul>
    <div class="navbar-nav ml-auto">
      <button
        *ngIf="isUserLoggedIn()"
        class="btn btn-light header-button"
        (click)="logout()">
        Log out
      </button>
      <button
        *ngIf="!isUserLoggedIn()"
        (click)="openLoginModal()"
        class="btn btn-light header-button"
        routerLinkActive="active"
        routerLink="/login">
        Log in
      </button>
      <button
        class="btn btn-light header-button"
        (click)="openSigninModal()"
        routerLinkActive="active"
        routerLink="/signin">
        Sign in
      </button>
    </div>
  </div>
</nav>

<!--data-toggle="modal"-->
<!--data-target="#modal"-->

<!--<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
  <router-outlet></router-outlet>
<!--</div>-->


