  <div class="card mb-4" *ngIf="isInitialised">
    <div class="card-body">
      <div class="row flex-fill">
        <div class="col-sm-5">
          <small class="faded-text">Posted on {{creationDate}}</small>
          <a [routerLink]="['/user/search/job-details', model.id]">
          <h4 class="h4">{{ this.model.jobTitle}}</h4>
          </a>
          <p>{{company}}</p>
          <div class="d-flex gap-1 align-items-center">
            <fa-icon class="job-card-icon" [icon]="iconLocation"></fa-icon>
            <p class="job-card-tag">{{this.model.location.toString().split('_').join(' ')}}</p>
          </div>
          <div class="d-flex gap-1 align-items-center">
            <fa-icon class="job-card-icon" [icon]="iconSalary"></fa-icon>
            <p class="job-card-tag">
              {{this.model.salaryLowerRange}} - {{this.model.salaryUpperRange}} {{this.model.currency}}
            </p>
          </div>
          <div class="d-flex gap-1 align-items-center">
            <fa-icon class="job-card-icon" [icon]="iconExperience"></fa-icon>
            <p class="job-card-tag">{{this.model.experience}}</p>
          </div>
        </div>

        <div *ngIf="recruiter" class="col-sm-2 text-lg-end ml-auto d-flex flex-column gap-1 ">
          <button class="btn gradient-button job-button" (click)="onDeleteJob()">Close job opening</button>
          <a [routerLink]="['applicants', model.id]"> {{numberOfCandidates}} candidates</a>
        </div>
        <div *ngIf="!recruiter" class="col-sm-2 text-lg-end ml-auto d-flex flex-column gap-2">
          <div  class="d-flex flex-row gap-1">
            <div *ngIf="!applied">
              <button class="btn gradient-button job-button stretched-link" (click)="applyToJob()">Apply</button>
            </div>
            <div *ngIf="!saved">
              <button class="btn gradient-button job-button stretched-link" (click)="saveJob()">Save</button>
            </div>
          </div>
          <div class="recommendation-label" *ngIf="recommended">
            <p><small>{{recommendationLabel}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
