<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex flex-column">
      <div class="row flex-fill">
        <div class="col-sm-5">
          <h4 class="h5">{{ this.model.jobTitle}}</h4>
          <span class="badge bg-secondary">{{this.model.location.toString().split('_').join(' ')}}</span> <span class="badge bg-success">
          {{this.model.salaryLowerRange}} - {{this.model.salaryUpperRange}} {{this.model.currency}}</span>
        </div>
        <div class="col-sm-4 py-2">
          <span class="badge bg-secondary">{{this.model.industry.toString().split('_').join(' ')}}</span>
          <span class="badge bg-secondary">{{this.model.experience}}</span>
          <span class="badge bg-secondary">{{this.model.program.toString().split('_').join(' ')}}</span>
        </div>
        <div class="col-sm-3 text-lg-end">
          <a href="#" class="btn btn-primary stretched-link">Close job opening</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
        <h6 class="h6"> {{this.model.description}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
