<div *ngIf="isInitialised" class="  ">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First name</label><br>
      <input
        id="firstName"
        formControlName="firstName"
        [(ngModel)]="model.firstName"
        type="text"
        class="form-control">
      <span
        *ngIf="!formControls['firstName'].valid && formControls['firstName'].touched"
        class="text-danger">
          This field is required
          </span>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label><br>
      <input
        id="lastName"
        type="text"
        formControlName="lastName"
        [(ngModel)]="model.lastName"
        class="form-control">
      <span
        *ngIf="!formControls['lastName'].valid && formControls['lastName'].touched"
        class="text-danger">
          This field is required
          </span>
    </div>
    <div class="form-group" *ngIf="this.model.role.toString() !== 'USER'">
      <label for="description">Description</label><br>
      <textarea
        id="description"
        rows="5"
        formControlName="description"
        maxlength="250"
        [(ngModel)]="model.description"
        class="form-control"></textarea>
    </div>
    <div class="form-group" *ngIf="this.model.role.toString() !== 'USER'">
      <label for="company">Company</label><br>
      <input
        id="company"
        type="text"
        formControlName="company"
        [(ngModel)]="model.company"
        class="form-control">
      <span
        *ngIf="!formControls['company'].valid && formControls['company'].touched"
        class="text-danger">
          This field is required
          </span>
    </div>
    <div *ngIf="this.model.role.toString() === 'USER'" class="form-group">
      <label for="location">Location</label><br>
      <input id="location"
             name="location"
             type="text"
             formControlName="location"
             [(ngModel)]="model.location"
             class="form-control">
      <span
        *ngIf="!formControls['location'].valid && formControls['location'].touched"
        class="text-danger">
          This field is required
          </span>
    </div>
    <div *ngIf="this.model.role.toString() === 'USER'">
      <label for="skills">Skills</label><br>
      <div class="form-group" formArrayName="skills" id="skills">
        <div class="row" *ngFor="let skill of skills.controls; let i = index">
          <div class="col-xs-12">
            <input
              type="text"
              class="form-control"
              [formControlName]="i">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteSkill(i)"> X
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="button"
            (click)="onAddSkill()">Add skill
          </button>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary"
      >Close
      </button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!form.valid">
        Save changes
      </button>
    </div>
  </form>
  <h3>Upload cv</h3>
  <div>
    <button (click)="onCvAdded()">Upload</button>
    <input #fileInput name="file" type="file" (change)="onFileSelected($event)"/>
  </div>
</div>
