<section class="wraper" *ngIf="isInitialised">
  <div class="container">
    <h3 class="m-3 section-title"><i class="fas fa-save icon"></i> Saved jobs</h3>
  </div>
  <div class="container" *ngFor="let job of savedJobs">
    <app-job
      [model]="job"
      [recruiter]="false"
      [userId]="currentUserId"
      [applied]="isJobApplied(job)"
      [saved]="isJobSaved(job)"
      [userHasCv]="uploadedCv"
    ></app-job>
  </div>

  <div class="container">
    <hr class="divider">
  </div>

  <div class="container">
    <h3 class="m-3 section-title"><i class="far fa-check-circle icon"></i> Applied jobs</h3>
  </div>
  <div class="container" *ngFor="let job of appliedJobs">
    <app-job
      [model]="job"
      [recruiter]="false"
      [userId]="currentUserId"
      [applied]="isJobApplied(job)"
      [saved]="isJobSaved(job)"
    ></app-job>
  </div>
</section>

