<router-outlet></router-outlet>
<div *ngIf="!choseSearchMethod" class="container vh-100">
  <div class="d-flex flex-column gap-3 justify-content-center align-items-center h-75">
    <h3 class="search-title">Your new career is waiting for you!</h3>
    <input
      id="keyword-input"
      name="keyword-input"
      #keywordInput1
      class="keyword-input1"
      type="text">
    <div class="d-flex gap-1">
      <button
        class="btn btn-lg gradient-button"
        (click)="onSearchAfterKeywords(keywordInput1.value)"
      >Search after keyword
      </button>
      <button
        class="btn btn-lg gradient-button"
        (click)="onSearchAllJobs()"
      >See all jobs
      </button>
    </div>
  </div>
</div>
<div *ngIf="choseSearchMethod" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <input
          name="keyword-input"
          #keywordInput2
          class="keyword-input2"
          type="text"
          placeholder="Search keywords"
          [value]="keywords">
        <button
          class="btn btn-primary search-button"
          (click)="filterJobsAfterKeywordsAndDate(keywordInput2.value)">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3 m-3">
        <div class="container">
          <div class="row filter-wrapper">
            <h5>Industry</h5>
            <div class="filters custom-scrollbar">
              <div class="form-check" *ngFor="let industry of industryArray">
                <input
                  type="checkbox"
                  formArrayName="selectedIndustries"
                  class="form-check-input"
                  [value]="industry"
                  (change)="onCheckedIndustry($event, 'selectedIndustries')">
                {{industry.split('_').join(' ')}}<br>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row filter-wrapper">
            <h5>Type of program</h5>
            <div class="filters custom-scrollbar">
              <div class="form-check" *ngFor="let program of programArray">
                <input
                  type="checkbox"
                  formArrayName="selectedPrograms"
                  class="form-check-input"
                  [value]="program"
                  (change)="onCheckedIndustry($event, 'selectedPrograms')">
                {{program.split('_').join(' ')}}<br>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row filter-wrapper">
            <h5>Experience</h5>
            <div class="filters custom-scrollbar">
              <div class="form-check" *ngFor="let experience of experienceArray">
                <input
                  type="checkbox"
                  formArrayName="selectedExperiences"
                  class="form-check-input"
                  [value]="experience"
                  (change)="onCheckedIndustry($event, 'selectedExperiences')">
                {{experience}}<br>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row filter-wrapper">
            <h5>Location</h5>
            <div class="filters custom-scrollbar">
              <div class="form-check" *ngFor="let location of locationArray">
                <input
                  type="checkbox"
                  formArrayName="selectedLocations"
                  class="form-check-input"
                  [value]="location"
                  #locCheckbox
                  (change)="onCheckedIndustry($event, 'selectedLocations')">
                {{location.split('_').join(' ')}}<br>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row filter-wrapper">
            <h5>Period of work</h5>
            <div class="filters custom-scrollbar">
              <div class="form-check">
                <input
                  type="checkbox"
                  formControlName="undefinedPeriod"
                  class="form-check-input"
                  checked="true"
                  #undefinedPeriod>
                Undefined period
              </div>
              <div *ngIf="!undefinedPeriod.checked"
                   class="form-group ">
                <label for="period">Period (in months)</label>
                <input
                  id="period"
                  type="number"
                  formControlName="period"
                  class="form-control col-4">
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row filter-wrapper">
            <h5>Minimum salary</h5>
            <div class="filters custom-scrollbar">
              <div class="form-row">
                <div class="form-group col-5">
                  <input
                    id="salaryLowerRange"
                    type="number"
                    formControlName="salaryLowerRange"
                    class="form-control">
                </div>
                <div class="form-group col-5">
                  <select
                    id="currency"
                    formControlName="currency"
                    class="custom-select">
                    <option value="0"> Ron</option>
                    <option value="1"> Euro</option>
                    <option value="2"> All</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex gap-1 mt-2">
            <button type="button" class="btn btn-danger" (click)="onReset()"
            >Reset filters
            </button>
            <button
              class="btn btn-primary"
              type="submit">
              Apply filters
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-9" *ngIf="isInitialised">
      <div class="container" *ngFor="let job of displayedJobs | filterJobs: filterInputs">
        <app-job [model]="job"
                 [recruiter]="false"
                 [userId]="currentUserId"
                 [applied]="isJobApplied(job)"
                 [saved]="isJobSaved(job)"
        ></app-job>
      </div>
    </div>
  </div>
</div>


