<div class="container mt-3 mb-4">
  <div class="col-lg-9 mt-4 mt-lg-0">
    <div class="row">
      <div class="col-md-12">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
          <table class="table manage-candidates-top mb-0">
            <thead>
            <tr>
              <th>Candidate Name</th>
              <th class="action text-right">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="candidates-list" *ngFor="let candidate of candidates">
              <td class="title">
                <div class="thumb">
                  <img *ngIf="candidate.firstName === 'Elena'" class="img-fluid" [src]="'../../../assets/avatars/female2.jpg'">
                  <img *ngIf="candidate.firstName === 'Ion'" class="img-fluid" [src]="'../../../assets/avatars/male1.jpg'">
                  <img *ngIf="candidate.firstName === 'Mihai'" class="img-fluid" [src]="'../../../assets/avatars/male2.jpg'">
                </div>
                <div class="candidate-list-details">
                  <div class="candidate-list-info">
                    <div class="candidate-list-title">
                      <h5 class="mb-0">{{candidate.firstName}} {{candidate.lastName}}</h5>
                    </div>
                    <div class="candidate-list-option">
                      <ul class="list-unstyled">
                        <li><i class="fas fa-map-marker-alt pr-1"></i>{{candidate.location}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <ul class="list-unstyled mb-0 d-flex justify-content-end">
                  <li>
                    <button class="text-primary icon-button"
                            data-toggle="tooltip"
                            title="View profile"
                            data-original-title="View profile"
                            [routerLink]="['/user/profile', candidate.email]"><i
                      class="far fa-eye icon-style"></i>
                    </button>
                  </li>
                  <li>
                    <button class="text-primary icon-button"
                            data-toggle="tooltip"
                            title="Download CV"
                            data-original-title="Download CV"
                            (click)="downloadCvForCandidate(candidate.email)"><i
                      class="fas fa-file-download icon-style"></i>
                    </button>
                  </li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
